:root {
    --toggle-bg: #00000066;
    --toggle-border: black;
    --toggle-handle: #fff;
}

html[data-theme='light'] {
    --toggle-bg: #eee;
    --toggle-border: #ccc;
    --toggle-handle: #222;
}

.theme-switch-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 10%;
}

.theme-switch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.theme-switch-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 65px;
    height: 35px;
    background-color: var(--toggle-bg);
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid var(--toggle-border);
    transition: background-color 0.3s;
}

.switch-slider {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    background-color: var(--toggle-handle);
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.sun-icon, .moon-icon {
    position: absolute;
    font-size: 18px;
    transition: opacity 0.3s ease;
}

.sun-icon{left:8px; opacity:0;}
.moon-icon{right:8px; opacity:1;}

.theme-switch-checkbox:checked + .theme-switch-label .switch-slider {
    transform: translateX(28px);
}

.theme-switch-checkbox:checked + .theme-switch-label .sun-icon {
    opacity: 1;
}

.theme-switch-checkbox:checked + .theme-switch-label .moon-icon {
    opacity: 0;
}