:root {
    /*paleta principal*/
    --color-fondo-claro: #ebe7d9;
    --color-fondo-oscuro: #1e1f22;
    --color-acento-primario: #f55139;
    --color-acento-primario-brillo: #fd0800;
    --color-acento-secundario: #3AB7BF;
}

/*Estilos para la sección INICIO con efecto de partículas*/
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-oscuro);
    color: var(--color-fondo-claro);
    text-align: center;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
    padding: 1rem;
    margin-inline: 1rem;
    animation: fadeIn 1.5s ease;
}

.hero-title {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    color: var(--color-acento-primario);
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size:clamp(.9rem, 2vw, 1.5rem);
    line-height: 1.6;
    color: var(--color-fondo-claro);
    margin-bottom: 3rem;
}

button.hero-btn {
    min-width: 12rem;
    border: none;
    border-radius: 5px;
    font-size: clamp(1.05rem, 2vw, 1.2rem);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 13px 20px;
    color: var(--color-fondo-claro);
    text-decoration: none;
    background: linear-gradient(90deg, #f55139, #ff6f61, #fd0800, #f55139);
    background-size: 400%;
}

.hero-btn:hover {
    animation: animate 8s linear infinite;
    box-shadow: 0 0 40px #f55139, 0 0 35px #f55139a0;
}

.hero-btn::before {
    content: '';
    background: linear-gradient(90deg, #f55139, #ff6f61, #fd0800, #f55139);
    background-size: 400%;
    opacity: 0;
    transition: 1s;
}

.hero-btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

/*Estilos para Carrusel y seccion PROYECTOS*/
#proyectos.section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-fondo-oscuro);
    color: var(--color-fondo-claro);
    column-gap: 2rem;
    padding: 1rem;
}

div.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: 48%;
    text-align: center;
}

#proyectos .section-header h2{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    color: var(--color-acento-primario);
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

#proyectos .section-header p{
    font-size:clamp(.9rem, 2vw, 1.5rem);
    line-height: 1.6;
    color: var(--color-fondo-claro);
    margin-bottom: 3rem;
}


