:root {
    /*paleta principal*/
    --color-fondo-claro: #ebe7d9;
    --color-fondo-oscuro: #1e1f22;
    --color-acento-primario: #f55139;
    --color-acento-primario-brillo: #fd0800;
    --color-acento-secundario: #3AB7BF;
}

/*Estilos para la sección INICIO con efecto de partículas*/
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-oscuro);
    color: var(--color-fondo-claro);
    text-align: center;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
    padding: 2rem;
    animation: fadeIn 1.5s ease;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-acento-primario);
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-fondo-claro);
    margin-bottom: 3rem;
}

button.hero-btn {
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 13px 20px;
    color: var(--color-fondo-claro);
    text-decoration: none;
    background: linear-gradient(90deg, #f55139, #ff6f61, #fd0800, #f55139);
    background-size: 400%;
}

.hero-btn:hover {
    animation: animate 8s linear infinite;
    box-shadow: 0 0 40px #f55139, 0 0 35px #f55139a0;
}

.hero-btn::before {
    content: '';
    background: linear-gradient(90deg, #f55139, #ff6f61, #fd0800, #f55139);
    background-size: 400%;
    opacity: 0;
    transition: 1s;
}

.hero-btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

/*Estilos para el MODAL y seccion PROYECTOS*/
#proyectos.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 2rem 4rem;
    overflow-y: auto;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 2rem;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
    scrollbar-width: thin;
    
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-info {
    padding: 1.5rem;
}

.project-links a,
.project-links button.demo-btn {
    background: linear-gradient(90deg, #f55139, #ff7a00);
    color: var(--color-fondo-claro);
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project-links a:hover,
.project-links button.demo-btn:hover {
    background: linear-gradient(90deg, #ff7a00, #f55139);
}

/* Modal */
.demo-modal {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo-oscuro);
    justify-content: center;
    align-items: center;
}

.demo-content {
    max-width: 90%;
    max-height: 80%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.demo-content img {
    max-height: 100%;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: var(--color-fondo-claro);
    cursor: pointer;
}