*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin: 0;
    background-color:white;
    padding: 20px;
}

/*nombre y link interno*/
header{ 
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nombre{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu a {
    margin-left: 1rem;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

/*imagen, texto y botones*/

.main-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-direction: row;
}

#rizos {
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 40%;
}

.presentacion p {
    flex: 1 1 300px;
}

.botones a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

ul{
    background-color: lightgray;
    list-style: none;
    margin: 1rem;
    padding: 0; 
}

li{
    color: rgb(52, 52, 52);
    padding: .3rem .7rem;
}

li:hover{
    background-color: rgb(52, 52, 52);
    color: white;
}

img{
    margin: 20px;
    border-radius: 47%;
    max-width: 100%;
    height: auto;
}

[type="button"]{
    background-color: transparent;
    border: none;
    font-size: 1.2em;
}

/* FLEXBOX (responsive)*/

@media (max-width: 768px)
{

    .header-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
    margin-top: 10px;
    }

    .main-content {
    flex-direction: column;
    }

    .botones a {
    margin-top: 10px;
    }
}
 



