:root {
    /*paleta principal*/
    --color-fondo-claro: #ebe7d9;
    --color-texto-claro: #ebe7d9;
    --color-fondo-oscuro: #1e1f22;
    --color-texto-oscuro: #1e1f22;
    --color-acento-primario: #f55139;
    --color-acento-secundario: #3AB7BF;
    /*paleta de contacto*/
    --first-color: #3AB7BF;
    --title-color: #ebe7d9;
    --text-color: #cac09b;
    --body-color: #1e1f22;
    --h2-font-size: 1.3rem;
    --small-font-size: .875rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif !important;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.navbar.fixed-top.bg-body-tertiary, 
.navbar.fixed-top.bg-body-tertiary.navbar-expand-lg{
    background-color: var(--color-fondo-oscuro) !important;
    box-shadow: 0 4px 24px hsla(216, 50%, 20%, .1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar.fixed-top.bg-body-tertiary div.container.logo{
    max-width: 9.5rem;
    margin: 0;
}

.navbar.fixed-top.bg-body-tertiary div.container-fluid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: right;
    align-items: center;
}

.navbar.fixed-top.bg-body-tertiary.navbar-expand-lg div.container-fluid{
    display: flex;
    justify-content: space-between;
}

button.navbar-toggler{
    margin-right: 1rem;
    padding: 2px 6px;
    border: none;
    color: transparent;
    margin: 0;
}

.custom-toggler i {
  color: var(--color-acento-primario);
  font-size: 2.5rem;
} 

ul.navbar-nav.me-auto.mb-2.mb-lg-0{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.navbar.fixed-top.bg-body-tertiary div.container-fluid a{
    color: var(--color-texto-claro);
    font-size: clamp( 1rem, 2vw, 1.5rem);
    font-weight: 600;
}

a.navbar-brand img{
    width: clamp( 6.5rem, 12vw, 9.375rem);
}

.navbar .navbar-link {
  position: relative;
  transition: color 0.3s ease;
}

.navbar .navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-acento-primario);
  transition: width 0.3s ease;
}

.navbar .navbar-link:hover::after,
.navbar .navbar-link:focus::after {
  width: 100%;
}

.navbar .navbar-link.active::after {
  width: 100%;
}

/**/


/*seccion contacto*/

.linkscontainer {
    height: 40vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.card.linkscard {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 24px hsla(216, 50%, 20%, .1);
    padding: 4rem 4rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

img.card__img {
    display: block;
    max-width: 100%;
    height: 6.9rem;
    width: 5.rem;
    margin: 0 auto .75rem;
    border-radius: 50%;
    border: 2px solid var(--first-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2.card__name {
    font-size: var(--h2-font-size);
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: .25rem;
}

p.card__web {
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
    color: var(--text-color);
}

.button {
    position: relative;
    background-color: var(--body-color);
    border: 2px solid var(--first-color);
    outline: none;
    padding: .75rem 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    color: var(--title-color);
    font-size: 1.1rem;
}

.button__social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    z-index: 1;
}

.button__social a {
    font-size: 1.55rem;
    color: var(--first-color);
    transition: transform .5s cubic-bezier(.2, .9, .2, 1.2);
    transform: translateY(1.1rem);
}

.button__social img{
    color: var(--first-color);
}

.button__social a:nth-child(1) {
    transition-delay: .1s;
}

.button__social a:nth-child(2) {
    transition-delay: .15s;
}

.button__social a:nth-child(3) {
    transition-delay: .2s;
}

.button__social a:nth-child(4) {
    transition-delay: .25s;
}

div.button__content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    display: grid;
    place-items: center;
    transform: scale(1.03);
    transition: transform .5s cubic-bezier(.2, .9, .2, 1.2);
    z-index: 5;
}

.button__content span {
    color: var(--white-color);
    font: 600 var(--normal-font-size) var(--body-font);
}


.button:hover .button__content {
    transform: translateY(-40px) scale(.6);
}

.button:hover .button__social a {
    transform: translateY(0) scale(1);
}