* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    margin: 0;
    /* Espacio para el header fijo */
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h2 {
    display: flex;
    text-align: left;
    background-position: center;
    padding: 10px;
    font-size: clamp(1.5em, 3vw, 2em);
    color: rgba(37, 37, 37, 0.795);
}

h3 {
    font-size: clamp(1.2em, 3vw, 1.7em);
    margin: 0;
    padding: 10px;
    color: whitesmoke;
}

p {
    font-size: clamp(1.08em, 3vw, 1.5em);
    margin: 0;
    color: rgba(37, 37, 37, 0.795);
}

section{margin-bottom: 2rem;}

button {
    font-size: clamp(1.08em, 3vw, 1.5em);
    font-weight: bold;
    padding: 7px 15px;
    margin: 20px;
    border-radius: 7px;
    border: 1px solid rgb(238, 246, 250);
    box-shadow: 3px 3px 12px rgba(105, 185, 238, 0.76);
    color: whitesmoke;
    background-color: rgb(133, 193, 233);
}

button:hover {
    background-color: rgb(91, 178, 236);
}

a {
    text-decoration: none;
    font-size: clamp(1.1em, 3vw, 1.5em);
}


/*-------------------------------------------*/

.container {
    margin: auto;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: .3rem;
}

header {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: whitesmoke;
    margin-top: 0;
    /* Espacio para el header fijo */
    ;
    margin-bottom: 0;

}

header .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5dvh;
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(105, 185, 238, 0.76);

}

.nombre a {
    font-size: clamp(1.2em, 3vw, 1.5em);
    font-weight: bold;
    padding-right: 20px;
    color: rgba(37, 37, 37, 0.795);
    text-align: left;
    text-decoration: none;
}

nav .menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    padding-right: 20px;
    justify-content: flex-end;
}

.menu a {
    font-size: clamp(0.9em, 4vw, 1.3em);
    padding-right: 5px;
    font-weight: bold;
    color: rgba(37, 37, 37, 0.795);
}

header a:hover {
    color: rgb(20, 154, 243);
}

/*----------------------*/

.containerhero {
    max-width: 90%;
    height: 100%;
    margin: auto;
}

#hero {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    padding-top: 4rem;
    /* Espacio para el header fijo */
    margin-bottom: 2rem;

}

.img-container #rizos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    padding-bottom: 15px;
    border-radius: 45%;

}

#hero .texto p {
    font-size: clamp(1.08em, 3vw, 1.5em);
    color: rgba(37, 37, 37, 0.795);
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: justify;
    padding-left: 10px;
    padding-right: 15px;
}

#hero h2 {
    font-size: clamp(1.5em, 3vw, 1.7em);
    color: rgba(37, 37, 37, 0.795);
    margin: 0;
    text-align: left;
    justify-content: left;
}


/*---------------*/

.containerexp {
    max-width: 90%;
    margin: auto;
}

#experiencia .containerexp {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: left;
}

#experiencia .texto {
    background-position: center;
    background-size: cover;
    padding: 10px;
    border-radius: 12px;
    justify-content: left;
    text-align: justify;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imagenes/desarrollador-de-software.jpg");
}

#experiencia h2 {
    margin: 0;
}

.texto p {
    color: whitesmoke;
    font-size: clamp(1.08em, 3vw, 1.5em);
    margin: 0;
    padding: 10px;
}

.color-acento {
    color: whitesmoke;
}


/*----------*/

#mis-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    
}

.containerpro {
    width: 90%;
    margin: auto;
}

#mis-proyectos h2 {
    margin: 10px;
}

#mis-proyectos p {
    display: none;
}

/* #mis-proyectos p{color: whitesmoke;}  */

#mis-proyectos .carta {
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-radius: 12px;
    text-align: center;
}

#mis-proyectos .carta:not(:last-child) {
    margin-bottom: 20px;
}

#mis-proyectos .carta:first-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imagenes/portafolio.jpg");
}

.carta:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imagenes/restaurante.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imagenes/web\ ong.png");
}

/*-----------*/

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    padding-bottom: 40px;
}

.containercont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}

#contacto h2 {
    margin: 10px;
}

#contacto .formulario {
    font-size: medium;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 100%;
    border: 1px solid rgb(238, 246, 250);
    box-shadow: 3px 3px 12px rgba(105, 185, 238, 0.76);
    border-radius: 10px;
    padding: 1rem;
}

#contacto .formulario label {
    margin: .5rem;
    font-size: clamp(.8em, 3vw, 1.3em);
    color: rgba(37, 37, 37, 0.795);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#contacto .formulario input,
#contacto .formulario textarea {

    width: 90%;
    padding: 1rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(238, 246, 250);
    box-shadow: 3px 3px 12px rgba(105, 185, 238, 0.76);
}

/*--------*/

footer {
    font-size: smaller;
    text-align: center;
}

/* css para pantallas desktop*/
@media(min-width:768px) {

    header {
        height: 4dvh;
    }

    

    div.containerhero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    .img-container #rizos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        border-radius: 50%;
        width: 100%;
    }

    div.texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    #experiencia .texto {
        width: auto;
        text-align: justify;
        padding: 20px 50px;
    }

    .containercontc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .contc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    
}
